{
    // "presets": ["react-native"],
    // "plugins": ["transform-decorators-legacy"]
    // {
        "presets": ["module:metro-react-native-babel-preset"],
    // }l
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ]
    // "plugins": [
    //     ["@babel/plugin-proposal-decorators", { "legacy": true }]
    // ]
  }
  